/* RESET E BASE */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100vh;
    background-color: #4a5780;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
}


/* NAVBAR */
.navbar {
    width: 100%;
    background: #2e447b;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo img {
    height: 40px;
}

/* MENU */
.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    transition: 0.3s;

}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
}

.nav-menu a:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

/* NAV2 (rodapé) */
.footer {
    background: #ffffff62;
    color: #000000;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

/* MENU */
.footer-menu ul {
    list-style: none;
}

.footer-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* 🔹 MOBILE */
@media (max-width: 768px) {

    .nav-container {
        justify-content: center;
        /* centraliza tudo */
    }

    .nav-menu {
        display: none;
        /* esconde menu */
    }

    .logo {
        margin: 0 auto;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-menu {
        order: 1;
        /* sobe */

    }

    .footer-info {
        order: 2;
        /* desce */
    }
}